<%- contentFor('title') %>
    Lama

<%- contentFor('body') %>
<% data.forEach(elem => { %>
<div class="container animated fadeIn">
    <div class="card post">
        <div class="row" style="margin:10px">
            <div class="col-xs-6 col-md-4 col-lg-2 d-flex flex-column justify-content-center">
                <img src=<%= elem.profilepic %> class="img-responsive img-thumbnail mb-2 profile-pic">
                <div>by <a href=`http://localhost:3000/<%= elem.author %>`><%= elem.author %></a></div>
            </div>
            <div class="col-xs-6 col-md-8 col-lg-10 d-flex flex-column justify-content-between">
                <h1 class="display-4">
                    <a href="#"> <%= elem.title %></a>
                </h1>
                <p class="post-desc"><%= elem.description %></p>
                <div class="d-flex skill-wrapper">
                    <% const skills= elem.skills_need %>
                    <% skills.forEach(skill => { %>
                        <span class="badge badge-pill badge-primary"><%= skill %></span>
                        
                    <% }) %>
                </div>
                <button class="btn btn-primary btn-block align-self-end apply-btn">Apply</button>
            </div>
        </div>
    <% }) %>
    </div>
</div>
<script>
    $(".apply-btn").click(function(){
    $(this).slideUp("slow", function(){
      if ($(this)[0].classList[1] == "btn-primary")
        {
          $(this).html("Cancel");  
          $(this).attr('class', 'btn btn-danger btn-block');
        }
      else
        {
              $(this).html("Apply");  
              $(this).attr('class', 'btn btn-primary btn-block');
        }
        $(this).slideDown("slow");
    });   
});
</script>