<%- contentFor('title') %>
    My Profile

<%- contentFor('body') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">LamaTeam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/my-profile"><i class="fas fa-user"></i> MyProfile</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/users-list"><i class="fas fa-users"></i> Users List</a>
        </li>  
        </ul>
    </div>
</nav>

<div class="container animated fadeIn">
    <div class="profile-container">
        <div class="profile-header d-flex flex-column align-items-center">
            <img src="<%= data_user.profilepic %>" alt="" class="profile-img">
            <h1 class="text-capitalize"><%= data_user.lastname %> <%= data_user.name %></h1>           
            <div class="skills-list">
                <% const skills = data_user.skills %>
                <% skills.forEach(skill => { %>
                    <span class="badge badge-pill badge-primary"><%= skill %></span>                    
                <% }) %>
            </div>
        </div>
        <div class="profile-content">
            <div class="profile-bio">
                <h2>Bio</h2>
                <p><%= data_user.biography %></p>
            </div>
            <div class="profile-projects">
                    <h2>My Projects</h2>
                <div class="card post">
                    <div class="row" style="margin:10px">
                        <div class="col-12 d-flex flex-column justify-content-between">
                            <h3>
                                <a href="#">Project name</a>
                            </h3>
                            <p class="post-desc">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo,
                                tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas
                                faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p>
                            <div class="d-flex skill-wrapper">
                                <span class="badge badge-pill badge-primary">React JS</span>
                                <span class="badge badge-pill badge-primary">Angular 2</span>
                                <span class="badge badge-pill badge-primary">MongoDB</span>
                            </div>
                            <div class="user-props">
                                  <span><i class="fas fa-users"></i> 1</span>
                                  <ul class="user-props-list mt-2" style="display:none;">
                                      <li class="d-flex align-items-center"> 
                                          <img src="https://randomuser.me/api/portraits/women/79.jpg" alt="" class="profile-img d-block mr-2">
                                          <p class="username">Username</p>
                                        </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $( ".user-props" ).click(function() {
        $( ".user-props-list" ).toggle();
});
</script>
