<%- contentFor('title') %>
    User List

<%- contentFor('body') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">LamaTeam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/my-profile"><i class="fas fa-user"></i> MyProfile</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/users-list"><i class="fas fa-users"></i> Users List</a>
        </li>  
        </ul>
    </div>
</nav>
<div class="container animated fadeIn">
    <div class="profile-list-container">
        <div class="profile-list-header">
            <h1>Users list</h1>
            <p>Find people to build a team !</p>
            <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="profile-list-content">
            <div class="row">
            <% data_users.forEach(user => { %>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="<%= user.profilepic %>" alt="" class="profile-img mx-auto d-block">
                            <h3 class="text-center text-capitalize"><a href="/user/<%= user.name %>"><%= user.lastname %> <%= user.name %></a> </h3>
                            <div class="skills-list d-flex justify-content-center">
                                <% const skills = user.skills %>
                                <% skills.forEach(skill => { %>
                                <span class="badge badge-pill badge-primary"><%= skill %></span>
                                <% }) %>
                    </div>
    
                        </div>
                </div>
                </div>
            <% }) %>
        </div>

        </div>

</div>
</div>